certifi==2018.4.16
chardet==3.0.4
Django==2.0.4
django-autoslug==1.9.3
django-ckeditor==5.4.0
django-g-recaptcha==0.2.4
django-js-asset==1.0.0
funcsigs==1.0.2
idna==2.6
mock==2.0.0
pbr==4.0.2
Pillow==5.1.0
psycopg2==2.7.4
pytz==2018.4
requests==2.18.4
six==1.11.0
Unidecode==0.4.19
urllib3==1.22
