<!DOCTYPE html>

{% extends 'zach/home.html' %}

<html lang="ru">

<head>
    {% block title %}За4ет{% endblock %}
</head>

<body>
{% block preloader %}

{#    <div id="preloader_disp">#}
{#        <div class="load">#}
{#            <div class="load_text">#}
{#                <img class="za_et" src="../../static/images/preloader/wht_logo_4.png">#}
{#                <img class="img_cen" src="../../static/images/preloader/wht_4.png">#}
{#                <img class="img_cen_pnk" src="../../static/images/preloader/pnk_4.png">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
</body>
</html>