{% load staticfiles %}

<!DOCTYPE html>

<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->

<html lang="en">

<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../../static/libs/bootstrap/bootstrap-grid-3.3.1.min.css"/>
    <link rel="stylesheet" href="../../static/libs/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/libs/fancybox/jquery.fancybox.css"/>
    <link rel="stylesheet" href="../../static/libs/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="../../static/libs/countdown/jquery.countdown.css"/>
    <link rel="stylesheet" href="../../static/css/zach/fonts.css"/>
    <link rel="stylesheet" href="../../static/css/zach/main.css"/>
    <link rel="stylesheet" href="../../static/css/zach/media.css"/>
    <link rel="stylesheet" href="../../static/libs/mobilemenu/jquery.mmenu.css"/>
    <link rel="stylesheet" href="../../static/libs/superfish/megafish.css"/>
    <link rel="stylesheet" href="../../static/libs/superfish/superfish.css"/>
    <link rel="stylesheet" href="../../static/libs/hamburger/hamburgers.css"/>
</head>
<body>

<header class="top_header">
    <div class="header_topline">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soc_button">
                        <a href="http://sfedu.ru/" target="_blank"><i class="fa fa-external-link"
                                                                      aria-hidden="true"></i>
                            ЮФУ</a>
                        <a href="http://ictis.sfedu.ru/" target="_blank"><i class="fa fa-external-link"
                                                                            aria-hidden="true"></i>
                            ИКТИБ</a>
                        <a href="http://inep.sfedu.ru/" target="_blank"><i class="fa fa-external-link"
                                                                           aria-hidden="true"></i>
                            ИНЭП</a>
                        <a href="http://rtf.sfedu.ru/" target="_blank"><i class="fa fa-external-link"
                                                                          aria-hidden="true"></i>
                            ИРТСУ</a>
                        <a href="http://iues.sfedu.ru/" target="_blank"><i class="fa fa-external-link"
                                                                           aria-hidden="true"></i>
                            ИУЭС</a>
                    </div>
                    <div class="vk_button">
                        <a href="https://vk.com/sfedu_official" target="_blank"><i class="fa fa-vk"
                                                                                   aria-hidden="true"></i>
                            ЮФУ</a>
                    </div>
                    <div id="login_button" class="login_link"><i class="fa fa-user"></i> Авторизация</div>
                    <div class="contacts_head">
                        <a href="http://asu.tti.sfedu.ru/Raspisanie/Default.aspx?isPotok=121&Semestr=1"
                           target="_blank"><i class="fa fa-calendar" aria-hidden="true"></i> Расписание занятий</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="login_list_1">
            </div>
            <div class="login_list_2">
            </div>
            <div class="login_form">
                <section id="content">
                    <form action="" class="login_vspl">
                        <h1>Авторизация</h1>
                        <p><span><i class="fa fa-user-circle"></i></span><input
                                type="text" class="input_login" placeholder="Введите логин" autocomplete="on"></p>
                        <p><span><i class="fa fa-lock"></i></span><input
                                type="password" class="input_password" placeholder="Введите пароль" autocomplete="off">
                        </p>
                        <p><input type="submit" class="sign_in" value="ВОЙТИ"></p>
                        <div class="login_help">
                            <p><a href="#" class="login_help">Забыли пароль?</a></p>
                        </div>
                        <div class="first_login">
                            <p><a href="#" class="first_login">Впервые на сайте?</a></p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="close_login"><i class="fa fa-times"></i></div>

<div class="opacity"></div>

<div class="header_head">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main_menu_left">
                    <ul class="menu_left">
                        <li><a href="">Главная</a></li>
                        <p class="line_left"></p>
                        <li><a href="">Журналы</a></li>
                        <p class="line_left"></p>
                        <li><a href="">Библиотека</a></li>
                    </ul>
                </div>
                <div class="main_menu_right">
                    <ul class="menu_right">
                        <li><a href="">Информация</a></li>
                        <p class="line_right"></p>
                        <li><a href="">Обратная связь</a></li>
                        <p class="line_right"></p>
                        <li><a href=""><i class="fa fa-search fa_spin"></i></a></li>
                    </ul>
                </div>
                <div class="logotype">
                    <a href="{% url 'home' %}" class="a_img"><img src="../../static/images/logo.png"
                                                                  class="logo_up" alt="Logo" border="0"></a>
                    <a href="{% url 'home' %}"><img src="../../static/images/logo_ho.png" class="logo_down" alt="Logo"
                                                    border="0"></a>
                </div>
                {#                <div class="main_search">#}
                {#                    <div class="search_in">#}
                {#                        <form id="search" method="post" action="#"></form>#}
                {#                            <input id="s_input" class="s_search" placeholder="Поиск..." type="text">#}
                {#                            <button type="submit" class="but_search"><i class="fa fa-search" aria-hidden="true"></i></button>#}
                {#                        </form>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}

<script src="../../static/libs/jquery/jquery-1.11.1.min.js"></script>
<script src="../../static/libs/jquery-mousewheel/jquery.mousewheel.min.js"></script>
<script src="../../static/js/common.js"></script>

</body>
</html>