<!DOCTYPE html>

{% extends 'zach/base.html' %}
{%load static%}

<html lang="ru" xmlns="http://www.w3.org/1999/html">

<head>
    {% block title %}Журналы{% endblock %}

</head>

<body>
{% block content %}
    <div class="journals_content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="university">
                    <label class="ictis_label">
                        <input type="radio" name="universities" value="ictis" class="kek">
                        <div class="block_university block_univ_ictis">
                            <img src="{% static 'images/jrnls/jrnls.ictis.png' %}" class="back_ictis">
                            <div class="ictis_opac"></div>
                            <div class="ictis_opac_after"></div>
                            <div class="text_ictis"><img src="{% static 'images/jrnls/ictis.logo.png' %}"> ИКТИБ</div>
                        </div>
                    </label>



                    <label class="inep_label">
                        <input type="radio" name="universities" class="radio_inep" value="inep">
                        <div class="block_university block_univ_inep">
                            <img src="{% static 'images/jrnls/jrnls.inep.png' %}" class="back_inep">
                            <div class="inep_opac"></div>
                            <div class="inep_opac_after"></div>
                            <div class="text_inep"><img src="{% static 'images/jrnls/inep.logo.png' %}"> ИНЭП</div>
                        </div>
                    </label>



                         <label class="irtsu_label">
                             <input type="radio" name="universities" class="radio_irtsu" value="irtsu">
                        <div class="block_university1 block_univ_irtsu">
                            <img src="{% static 'images/jrnls/jrnls.irtsu.png' %}" class="back_irtsu">
                            <div class="irtsu_opac"></div>
                            <div class="irtsu_opac_after"></div>
                            <div class="text_irtsu"><img src="{% static 'images/jrnls/irtsu.logo.png' %}"> ИРТСУ</div>
                        </div>
                        </label>
                        <label class="iues_label">
                            <input type="radio" name="universities" class="radio_iues" value="iues">
                        <div class="block_university1 block_univ_iues">
                            <img src="{% static 'images/jrnls/jrnls.iues.png' %}" class="back_iues">
                            <div class="iues_opac"></div>
                            <div class="iues_opac_after"></div>
                            <div class="text_iues"><img src="{% static 'images/jrnls/iues.logo.png' %}"> ИУЭС</div>
                        </div>
                    </label>
                    </div>

                    {#--------------------#}

                    <div class="directions">
                        <div class="block_directions0 block_direc_baccalaureate">
                             <div class="direc_opac_bac"></div>
                                <div class="text_direc_bac">Бакалавриат</div>
                                <div class="block_course_bac">
                                    <div class="text_course_bac">Курс:</div>
                                    <label class="label_first_course_bac">
                                        <input type="radio" name="course" value="1_course_bac" class="input_first_bac">
                                        <div class="first_course_bac">
                                            <div class="course_text_sk">1</div>
                                        </div>
                                    </label>
                                    <label class="label_second_course_bac">
                                        <input type="radio" name="course" value="2_course_bac">
                                        <div class="second_course_bac">
                                            <div class="course_text_sk">2</div>
                                        </div>
                                    </label>
                                    <label class="label_third_course_bac">
                                        <input type="radio" name="course" value="3_course_bac">
                                        <div class="third_course_bac">
                                            <div class="course_text_sk">3</div>
                                        </div>
                                    </label>
                                    <label class="label_fourth_course_bac">
                                        <input type="radio" name="course" value="4_course_bac">
                                        <div class="fourth_course_bac">
                                            <div class="course_text_sk">4</div>
                                        </div>
                                    </label>
                                </div>
                        </div>





                        <div class="block_directions1 block_direc_specialty">
                            <div class="direc_opac_spe"></div>
                                <div class="text_direc_spe">Специалитет</div>
                                <div class="block_course_spe">
                                    <div class="text_course_spe">Курс:</div>
                                    <label class="label_first_course_spe">
                                        <input type="radio" name="course" value="1_course_spe">
                                        <div class="first_course_spe">
                                            <div class="course_text_sk">1</div>
                                        </div>
                                    </label>
                                    <label class="label_second_course_spe">
                                        <input type="radio" name="course" value="2_course_spe">
                                        <div class="second_course_spe">
                                            <div class="course_text_sk">2</div>
                                        </div>
                                    </label>
                                    <label class="label_third_course_spe">
                                        <input type="radio" name="course" value="3_course_spe">
                                        <div class="third_course_spe">
                                            <div class="course_text_sk">3</div>
                                        </div>
                                    </label>
                                    <label class="label_fourth_course_spe">
                                        <input type="radio" name="course" value="4_course_spe">
                                        <div class="fourth_course_spe">
                                            <div class="course_text_sk">4</div>
                                        </div>
                                    </label>
                                    <label class="label_fifth_course_spe">
                                        <input type="radio" name="course" value="4_course_spe">
                                        <div class="fifth_course_spe">
                                            <div class="course_text_sk">5</div>
                                        </div>
                                    </label>
                                </div>
                        </div>
                        <div class="block_directions2 block_direc_magistracy">
                            <div class="direc_opac_mag"></div>
                                <div class="text_direc_mag">Магистратура</div>
                                <div class="block_course_mag">
                                    <div class="text_course_mag">Курс:</div>
                                    <label class="label_first_course_mag">
                                        <input type="radio" name="course" value="1_course_mag">
                                        <div class="first_course_mag">1</div>
                                    </label>
                                    <label class="label_second_course_mag">
                                        <input type="radio" name="course" value="2_course_mag">
                                        <div class="second_course_mag">2</div>
                                    </label>
                                </div>
                        </div>
                    </div>

                    {#--------------------#}

                    <div class="selected_journals">
                        <div class="block_journals1 block_all_journals_rate">
                            <div class="journ_opac"></div>
                        </div>
                        <div class="block_journals2 block_window_with_journals">
                            <div class="journ_opac"></div>
                        </div>
                    </div>

                    {#--------------------#}
                   <form class="jrls_search">
                    <div class="search_journals">
                        <img src="{% static 'images/jrnls/jrnls.srch.png' %}">
                        <div class="univ_search_opac"></div>
                            <input type="text" class="jrnl_in_search" placeholder="КТбо1-1...">
                            <input type="submit" value="Найти" class="jrnl_but_sum">
                    </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>