{% load static %}
<footer class="main_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer_cont">
                    <img src="{% static 'images/logo_yufu_r.png' %}">
                    <a href="https://github.com/Za4et/za4et" target="_blank"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bot_text">
        Сайт создан компанией студентов ИКТИБа при поддержке велосипедов и костылей!
    </div>
</footer>
